<!DOCTYPE html>
<html>
<head>
    <title>TRYP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slideshow.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/dotnav.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/slidenav.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">   
</head>
<body>
    <nav class="uk-navbar">
        <a href="" class="uk-navbar-brand">
            <img src="/images/tryp-02.png">
        </a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li><a href="#Home" data-uk-smooth-scroll><%-language.home%></a></li>
            <li><a href="#HotelAndCulture" data-uk-smooth-scroll><%-language.hotelAndCulture%></a></li>
            <li><a href="#RoomAndPrices" data-uk-smooth-scroll><%-language.roomsAndPrices%></a></li>
            <li><a href="#Gallery" data-uk-smooth-scroll>GALLERY</a></li>
            <li><a href="#Meetings" data-uk-smooth-scroll><%-language.yourMeetings%></a></li>
            <li><a href="#Rewards" data-uk-smooth-scroll><%-language.rewards%></a></li>
            <li><a href="#BookNow" data-uk-smooth-scroll><%-language.bookNow%></a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li data-uk-dropdown="{mode:'click'}" class="language">
                        <button class="uk-button uk-button-default" type="button"><%=selected%></button>
                        <div class="uk-dropdown">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a href="/?language=en">EN</a></li>
                                <li><a href="/">ES</a></li>
                            </ul>
                        </div>
                </li>
            </ul>
        </div>
        <a href="#toggler" class="uk-navbar-nav uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    </nav>

    <div id="toggler" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul>
                <li><a href="#Home" data-uk-smooth-scroll><%-language.home%></a></li>
                <li><a href="#HotelAndCulture" data-uk-smooth-scroll><%-language.hotelAndCulture%></a></li>
                <li><a href="#RoomAndPrices" data-uk-smooth-scroll><%-language.roomsAndPrices%></a></li>
                <li><a href="#Gallery" data-uk-smooth-scroll>GALLERY</a></li>
                <li><a href="#Meetings" data-uk-smooth-scroll><%-language.yourMeetings%></a></li>
                <li><a href="#Rewards" data-uk-smooth-scroll><%-language.rewards%></a></li>
                <li><a href="#BookNow" data-uk-smooth-scroll><%-language.bookNow%></a></li>
            </ul>
        </div>
    </div>

    <div class="banner-slider">
        <div class="uk-slidenav-position" data-uk-slideshow="{kenburns:true, autoplay:true}">
            <ul class="uk-slideshow uk-overlay-active uk-slideshow-fullscreen" data-uk-slideshow>
                <li>
                    <img src="/images/SLIDE1.jpg" width="800" height="400">
                    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade overlay-inside-content uk-flex uk-flex-center uk-flex-middle uk-text-center">
                        <div class="overlay-inside-content">
                            <h1><%- language.slider.heading1 %></h1>
                            <p><%-language.slider.paragraph1%></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/SLIDE2.jpg" width="800" height="400">
                    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade overlay-inside-content uk-flex uk-flex-center uk-flex-middle uk-text-center">
                        <div class="overlay-inside-content">
                            <h1><%-language.slider.heading1%></h1>
                            <p><%-language.slider.paragraph1%></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/SLIDE3.jpg" width="800" height="400">
                    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade overlay-inside-content uk-flex uk-flex-center uk-flex-middle uk-text-center">
                        <div class="overlay-inside-content">
                            <h1><%-language.slider.heading1%></h1>
                            <p><%-language.slider.paragraph1%></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/SLIDE4.jpg" width="800" height="400">
                    <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade overlay-inside-content uk-flex uk-flex-center uk-flex-middle uk-text-center">
                        <div class="overlay-inside-content">
                            <h1><%-language.slider.heading1%></h1>
                            <p><%-language.slider.paragraph1%></p>
                        </div>
                    </div>
                </li>
                
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <!-- <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
            </ul> -->
        </div>
    </div>
    <div class="container about-us center" id="HotelAndCulture">
        <div class="blocks wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="button-styled"><%-language.aboutUs.heading1%></h1>
            <p class="hashtag"><%-language.aboutUs.hashtag1%></p>
            <p><%-language.aboutUs.paragraph1%></p>
        </div>
        <br/>
        <div class="blocks wow fadeInUp" style="padding-bottom: 0px;" data-wow-delay="0.1s">
            <h1 class="button-styled"><%-language.aboutUs.heading2%></h1>
            <p class="hashtag"><%-language.aboutUs.hashtag2%></p>
            <p><%-language.aboutUs.paragraph2%></p>
        </div>
    </div>

    <div class="rooms-prices" id="RoomAndPrices">
        <div class="inner-card wow fadeInUp">
            <div class="nav">
                <h1><%-language.rooms.heading%></h1>
                <div class="nav-arrows">
                    <button class="nav-left"><i class="fa fa-arrow-left"></i></button>
                    <span class="page-number">1</span>/<span class="total-pages">5</span>
                    <button class="nav-right"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="room-content active">
                <div class="room-image" style="background:url('/images/STANDARD_ROOM.jpg')"></div><div 
                class="room-details">
                    <h4><%-language.rooms.standardRoom%></h4>
                    <span class="short-desc" style="font-size: 17px;">
                        <%-language.rooms.standardRoomDesc%>
                    </span>
                    <p>
                        <%-language.rooms.generalRoomDesc2%>
                        <ul>
                            <%-language.rooms.generalRoomDesc3%>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="room-content">
                <div class="room-image" style="background:url('/images/STANDARD_DOUBLE_ROOM.jpg')"></div><div 
                class="room-details">
                    <h4><%-language.rooms.standardDoubleRoom%></h4>
                    <span class="short-desc" style="font-size: 17px;">
                        <%-language.rooms.standardDoubleRoomDesc%>
                    </span>
                    <p>
                        <%-language.rooms.generalRoomDesc2%>
                        <ul>
                            <%-language.rooms.generalRoomDesc3%>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="room-content">
                <div class="room-image" style="background:url('/images/FITNESS_ROOM.jpg')"></div><div 
                class="room-details">
                    <h4><%-language.rooms.fitnessRoom%></h4>
                    <span class="short-desc" style="font-size: 17px;">
                        <%-language.rooms.fitnessRoomDesc%>
                    </span>
                    <p>
                        <%-language.rooms.generalRoomDesc2%>
                        <ul>
                            <%-language.rooms.generalRoomDesc3%>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="room-content">
                <div class="room-image" style="background:url('/images/PREMIUM_ROOM.jpg')"></div><div 
                class="room-details">
                    <h4><%-language.rooms.premiumRoom%></h4>
                    <span class="short-desc" style="font-size: 17px;">
                        <%-language.rooms.premiumRoomDesc%>
                    </span>
                    <p>
                        <%-language.rooms.generalRoomDesc2%>
                        <ul>
                            <%-language.rooms.generalRoomDesc3%>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="room-content">
                <div class="room-image" style="background:url('/images/FAMILY_ROOM.jpg')"></div><div 
                class="room-details">
                    <h4><%-language.rooms.familyRoom%></h4>
                    <span class="short-desc" style="font-size: 17px;">
                        <%-language.rooms.familyRoomDesc%>
                    </span>
                    <p>
                        <%-language.rooms.generalRoomDesc2%>
                        <ul>
                            <%-language.rooms.generalRoomDesc3%>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery" id="Gallery">
        <h1 class="meeth1" style="margin-right:50px; margin-left:50px; margin-bottom:40px;"><%-language.gallery%></h1>
        <!-- <div data-uk-slider="{center:true}" class="uk-slidenav-position">
            <div class="uk-slider-container">
                <ul class="uk-slider uk-grid-width-medium-1-3">
                    <li><img src="images/SLIDE1.jpg"></li>
                    <li><img src="images/SLIDE2.jpg"></li>
                    <li><img src="images/SLIDE3.jpg"></li>
                    <li><img src="images/SLIDE4.jpg"></li>
                </ul>
            </div>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
        </div> -->

        <div class="fotorama" data-width="100%" data-maxheight="500px" data-nav="thumbs" data-fit="cover" data-allowfullscreen="true">
            <img src="images/g1.jpg">
            <img src="images/g3.jpeg">
            <img src="images/g5.jpeg">
            <img src="images/g6.jpg">
            <img src="images/g7.jpg">
            <img src="images/g8.jpg">
            <img src="images/g9.jpg">
            <img src="images/g10.jpg">
            <img src="images/g11.jpg">
            <img src="images/g12.jpg">
            <img src="images/g13.jpg">
            <img src="images/g14.jpg">
            <img src="images/g15.jpg">
            <img src="images/g16.jpg">
            <img src="images/g17.jpg">
            <img src="images/g18.jpg">
            
        </div>

    </div>


    <div class="meetings container" id="Meetings">
        <h1 class="meeth1"><%-language.meetings.heading%></h1>

            <div class="meeting-card wow fadeInLeft">
                <div class="image" style="background-image: url('/images/meetings-05.png')"></div>
                <h4><%-language.meetings.h1%></h4>
                <p><%-language.meetings.p1%></p>
            </div><div 
            class="meeting-card wow fadeIn">
                <div class="image" style="background-image: url('/images/Artboard6.png')"></div>
                <h4><%-language.meetings.h2%></h4>
                <p><%-language.meetings.p2%></p>
            </div><div 
            class="meeting-card wow fadeInRight">
                <div class="image" style="background-image: url('/images/Artboard7.png')"></div>
                <h4><%-language.meetings.h3%></h4>
                <p><%-language.meetings.p3%></p>
            </div>

    </div>

    <div class="rewards wow fadeInUp" id="Rewards">
        <div class="overlay container">
            <h1 class="meeth1"><%-language.rewardsInfo.heading%></h1>
            <%-language.rewardsInfo.paragraph%>

            <h3><%-language.rewardsInfo.heading2%></h3>
            <p><%-language.rewardsInfo.paragraph2%></p>
            <img src="/images/Wyndham-Rewards-blue.png" style="margin-top: 20px;">
        </div>
    </div>

    <div class="book-now container" id="BookNow">
        <h1 class="meeth1 wow fadeIn">
            <%-language.book.heading%>
        </h1>
        <form class="uk-form">
            <div class="input-form wow fadeInLeft">
                <label><%-language.book.firstName%></label>
                <input type="text" name="name">
            </div>
            <div class="input-form wow fadeInRight">
                <label><%-language.book.phone%></label>
                <input type="text" name="phone">
            </div>
            <br />
            <div class="input-form wow fadeInLeft">
                <label><%-language.book.email%></label>
                <input type="text" name="email">
            </div>
            <div class="input-form date wow fadeInRight">
                <label><%-language.book.dayOfVisit%></label>
                <input type="text" name="dateFrom" data-uk-datepicker="{format:'DD.MM.YYYY'}"><span class="inline">to</span><input type="text" name="dateTo" data-uk-datepicker="{format:'DD.MM.YYYY'}">
            </div>
            <br />
            <button class="uk-button uk-button-default submit"><%-language.book.submit%></button>
            <p class="status"></p>
        </form>
    </div>

    <div class="container social-media wow fadeInUp">
        <h2><%-language.followUs%></h2>
        <ul>
            <li><a href="https://www.facebook.com/TrypWTCMexico/"><i class="fa fa-facebook" style="padding-right: 11px;"></i></a></li>
            <li><a href="https://www.instagram.com/trypwtcmexico/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/TrypWTCMexico"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>

    <footer>
        <p><%-language.footer%></p>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/slideshow.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/core/smooth-scroll.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/core/dropdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
    <script type="text/javascript">
        /*var $animation_elements = $('.animation-element');
        var $window = $(window);
        function check_if_in_view() {
          var window_height = $window.height();
          var window_top_position = $window.scrollTop();
          var window_bottom_position = (window_top_position + window_height);

          $.each($animation_elements, function() {
            var $element = $(this);
            var element_height = $element.outerHeight();
            var element_top_position = $element.offset().top;
            var element_bottom_position = (element_top_position + element_height);

            //check to see if this current container is within viewport
            if ((element_bottom_position >= window_top_position) &&
                (element_top_position <= window_bottom_position)) {
              $element.addClass('in-view');
              $element.addClass('animated bounce');
              $element.addClass('bounce');

            } else {
              $element.removeClass('in-view');
            }
          });
        }

        $(window).on("scroll resize", check_if_in_view);
        $window.trigger('scroll');*/
    </script>
    <script type="text/javascript">
        new WOW().init({
            
        });
    </script>
    <script type="text/javascript">

        function navigateRooms(direction){
            var pageNumber = parseInt($(".page-number").html());
            if(direction == "right"){
                console.log(pageNumber);
                if(pageNumber < 5){
                    var activeRoom = $('.room-content.active');
                    activeRoom.removeClass('active');
                    activeRoom.next().addClass('active');
                    $(".page-number").html(pageNumber+1);
                }
                else
                {
                    /*$(".nav-right").attr("disabled", "disabled");*/
                }
            }
            if(direction == "left"){
                if(pageNumber > 1){
                    var activeRoom = $('.room-content.active');
                    activeRoom.removeClass('active');
                    activeRoom.prev().addClass('active');
                    $(".page-number").html(pageNumber-1);
                }
                else
                {
                    /*$(".nav-right").attr("disabled", "disabled");*/
                }
            }
        }

        $(".nav-left").click(function(){
            navigateRooms('left');
        })
        $(".nav-right").click(function(){
            navigateRooms('right');
        })


        $(".uk-form").submit(function(e){
            var form = $(this);
            e.preventDefault();
            $.ajax({
                url:"/email",
                method:"POST",
                data: form.serialize(),
                success: function(message){
                    console.log("working")
                    if(message){
                        $(".status").html(message).show();
                    }
                    else
                    {
                        $(".status").html("Please fill in correct details").show();
                    }
                    
                },
                error:function(err){
                    console.log(err);
                }
            })
        })


    </script>
</body>
</html>